.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 100px;
  padding-left: 100px;
  background-color: #A4123F;
  color: white;
  min-height: 70vh;
  margin-right: 10%;
}

.home-container button {
  background-color: white;
  color: #A4123F;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }


.home-container  h2 {
  color: white;
  text-align: center;
  font-size: 30px;
}
  
 
.home-container button:hover {
    background-color: #de6d8f; /* Amrita Pantone light */
    color: #A4123F;
}
  
.home-container button:focus {
    outline: none;
  }
  
.home-container button + button {
    margin-top: 10rem;
  }
  
.container-inner{
  display: flex;
}

.container-inner .quote{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  background-color: #A4123F;
  font-family: 'EB Garamond';font-size: 20px;
}

.container-inner img{
  height: 200px;
}

.container-inner author{
  text-align: right;
}