.read-feedbacks {
    margin: 20px;
  }

 .read-feedbacks h1{
    font-size: 40px;
    color: #fff;
  }
  
  .feedback-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .user-id {
    font-weight: bold;
  }
  
  .feedback-msg {
    margin-bottom: 5px;
    color: #fff;
  }
  
  button {
    background-color: #fff;
    color: #a4123f;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 2px;
  }
  
  button:hover {
    background-color: #ecbac9;
  }
  