.cart-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
  }

.cart-container h1 {
  color: #fff;
  font-size: 50px;
}

.cart-header{
display: flex;
align-items: center;
margin-left: 30px;
 } 

.cart-header img{
  align-self: center;
  height: 100px;
  width: 170px;
  margin-left: 30px;
} 

  .cart-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .cart-table th,
  .cart-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-table td{
    color: #fff;
  }
  .cart-table th {
    background-color: #f2f2f2;
  }
  
  .cart-table tr:hover {
    background-color: #e66f92;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }

  .cart-total{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: medium;
  }
  .cart-total button{
    background-color: #fff;
    border: none;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    color: #A4123F;
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
    margin: 20px;
  }

  .cart-total button:hover{
    background-color: #dc8ba3;
    font-weight:bolder;
    border: 1px solid #e8084b;
  }