.menu-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: 80vh;
  align-self: center;
  padding-left: 10px;
  margin-left: 2%;
}

.greet-menu{
  display: flex;
}
.greet-menu img{
  height: 100px;
  width: 170px;
  align-self: center;
}
.greet-menu h2{
  align-self: center;
  align-content: center;
  margin-right: 10px;
  color: #fff;
  font-size: 40px;
}
.filters1 {
  display: flex;
}

.category-switch,
.canteen-switch {
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 1rem;
}

.category-switch select,
.canteen-switch select {
  margin-left: 10px;
  font-size: 16px;
  padding: 8px;
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.category-switch label,
.canteen-switch label {
  margin-left: 10px;
}

.menu-cards {
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  justify-items: center;
  background-color: #bbb;
  margin-bottom: 25px;
  border-radius: 10px;
}

.menu-card {
  border: 2px dashed #888;
  color: #000;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
}

.menu-card-image {
  width: 100%;
  max-width: 200px;
  margin-right: 20px;
}

.menu-card-content {
  align-items: center;
  flex-grow: 1;
  justify-content: center;

}


.menu-card-content h3 {
  margin-top: 5px;
  font-size: large;
}

.menu-card-content p {
  margin-bottom: 3px;
}

.menu-card-info{
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  justify-content: center;
}

.menu-card-info p {
  margin-bottom: 5px;
  color: #333;
}

.menu-card-rating {
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu-card-actions {
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  justify-content: center;
  margin-top: 5px;
}

.menu-card-actions button {
  background-color: #f2f2f2;
  color: #A4123F;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  margin-top: 12px;
  font-size: medium;
  text-align: center;
}

.menu-card-actions button:hover{
font-weight: bold;
background-color: #f6c5d4;
font-weight: bold;
}


button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}