.menu-container {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: 80vh;
}

.filters {
  display: flex;
  margin-bottom: 1rem;
  width: 80%;
  margin-top: 10px;
  margin-left: 25%;
}
 
.canteen-switch,
.category-switch {
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 1rem;
}  

.category-switch select,
.canteen-switch select {
  margin-left: 10px;
  font-size: 16px;
  padding: 8px;
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.category-switch label,
.canteen-switch label {
  margin-right: 10px;
}

.menu-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.menu-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

.menu-table td {
  border: 0px;
  padding: 10px;
  background-color: #bbb;
  color: #000;
}

.add-to-cart {
  display: flex;
  align-items: center;
}

.filters button {
  background-color: #f2f2f2;
  color: #A4123F;
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-top: 12px;
  font-size: medium;
  font-weight: bold;
}

.edit-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-size: medium;
  font-weight: bold;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-size: medium;
  font-weight: bold;
}


.filters button {
  background-color: #f2f2f2;
  color: #A4123F;
}

.filters button:hover {
background-color: #ddd;
}

.edit-button:hover {
  background-color: rgb(62, 172, 62);
}

.delete-button:hover {
  background-color: rgb(245, 92, 92);
}

.add-to-cart span {
  margin: 0 10px;
}