.menu-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  margin-bottom: 1rem;
}

.category-switch,
.canteen-switch {
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 1rem;
}

.category-switch select,
.canteen-switch select {
  margin-left: 10px;
  font-size: 16px;
  padding: 8px;
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.category-switch label,
.canteen-switch label {
  margin-right: 10px;
}

.menu-cards {
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.menu-card {
  background-color: #bbb;
  color: #000;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.menu-card-image {
  width: 100%;
  max-width: 200px;
  margin-right: 20px;
}

.menu-card-content {
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;

}

.menu-card-info h3 {
  margin-top: 0;
}

.menu-card-info p {
  margin-bottom: 5px;
}
.menu-card-right-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex-grow: 1;
}

.menu-card-ratings {
  margin-bottom: 10px;
}
.menu-card-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu-card-actions button {
  background-color: #f2f2f2;
  color: #A4123F;
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-top: 12px;
  font-size: medium;
  font-weight: bold;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
