.menu-container {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: 80vh;

  display: flex;
  align-self: center;
  padding-left: 10px;
  margin-left: 2%;
}

.filters {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 10px;
  justify-self: center;
  align-self: center;
}

.greet-menu2{
  display: flex;
}
.greet-menu2 img{
  height: 100px;
  width: 170px;
  align-self: center;
}
.greet-menu2 h2{
  align-self: center;
  align-content: center;
  margin-right: 10px;
  color: #fff;
  font-size: 40px;
}
 
.canteen-switch,
.category-switch {
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 1rem;
}  

.category-switch select,
.canteen-switch select {
  margin-left: 10px;
  font-size: 16px;
  padding: 8px;
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.category-switch label,
.canteen-switch label {
  margin-right: 10px;
}

.menu-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.menu-table th {
  background-color: rgb(236, 211, 188);
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

.menu-table td {
  border: 0px;
  padding: 10px;
  background-color: #f7dddd;
  color: #000;
}

.add-to-cart {
  display: flex;
  align-items: center;
}

.filters button {
  background-color: #f2f2f2;
  color: #A4123F;
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-top: 12px;
  font-size: medium;
  font-weight: bold;
}

.edit-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-size: medium;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.edit-button:hover {
  background-color: transparent;
  color: green;
  border: 2px solid green !important; /* Add the border property with red color */
}

.delete-button {
  background-color: #f0094a;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-size: medium;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.delete-button:hover {
  background-color: transparent;
  color: #f0094a;
  border: 2px solid #f0094a !important; /* Add the border property with red color */
}


.filters button {
  background-color: #f2f2f2;
  color: #A4123F;
}

.filters button:hover {
background-color: #ddd;
}





.edit-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background-color: #ddd;
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
  align-items: center;
}

.edit-form label {
  margin-bottom: 10px;
}

.edit-form input[type="text"] {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-form div {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.edit-form .save-button,
.edit-form .cancel-button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-form .cancel-button {
  background-color: #f44336;
}



